.titleContainer {
}

.titleContainer span {
    font-weight: 500;
}

.card {
    border-radius: 8px;
    background-color: var(--mantine-card-bg);
    border: 1px solid var(--mantine-card-border);
    cursor: pointer;
    transition: .2s ease-in-out background-color;
}   

.card:hover {
    background-color: var(--mantine-card-hover);
}