.card.card {
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--mantine-color-dimmed)
}

.active.active {
    border: calc(0.0625rem* var(--mantine-scale)) solid var(--mantine-primary-color-filled);
}