.card.card {
    cursor: pointer;
    user-select: none;
    transition: .1s ease-in-out background-color;
    border: 1px solid transparent;
}

.card.card:hover {
    background-color: var(--mantine-color-myYellow-light-hover);
}

.active.active {
    border: 1px solid var(--mantine-color-myYellow-filled);
}