.card.card {
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in-out background-color;
    background-color: var(--mantine-card-bg);
    border: 2px solid transparent;
}

.card.card:hover {
    background-color: var(--mantine-card-hover);
}

.active.active {
    border: 2px solid var(--mantine-color-myYellow-filled);
}