.border-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 12px;
    transition: .2s ease-in-out background-color;
    background-color: var(--mantine-card-bg);
    border: 1px solid var(--mantine-card-border);
}

.border-container:hover {
    background-color: var(--mantine-card-hover);
}

.member-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.member-bio {  
    display: flex;
    align-items: center;
    gap: 12px;
}


.member-info {
    display: flex;
    flex-direction: column;
}