:root {
    --stroke-color: #CED4DA;
}

:root[data-mantine-color-scheme="light"] body {
    --mantine-color-body: var(--mantine-color-bgColor-1);
}
/* For dark mode */
:root[data-mantine-color-scheme="dark"] body {
    --mantine-color-body: var(--mantine-color-bgColor-3);
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}