.joinBtn {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.grid {
    display: grid;
    height: 100%;
}

.column.column {
    margin: 0 5px;
    border: 1px solid var(--mantine-color-default-border);
    border-radius: 5px;
    padding: 10px 5px;
    width: 305px;
    height: 100%;
}