.teamCard {
    background-color: var(--mantine-card-bg);
    border: 1px solid var(--mantine-card-border);
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    transition: .2s ease-in-out background-color;
}

.teamCard:hover {
    background-color: var(--mantine-card-hover);
}

.link {
    color: var(--link-color);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}